### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [10]:
total_players = purchase_data['SN'].count()
total_player_df = pd.DataFrame({'Total Players': [total_players]})
total_player_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
number_of_unique = purchase_data['Item ID'].nunique()
average_price = round(purchase_data['Price'].mean(),2)
average_price = '$' + str(average_price)
number_of_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()
total_revenue = '$' + str(total_revenue)
summary_data_frame = pd.DataFrame(
    {'Number of Unique Items': [number_of_unique],
    'Average Price': [average_price],
    'Number of Purchases': [number_of_purchases],
    'Total Revenue': [total_revenue]})
summary_data_frame

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
total_gender = purchase_data['Gender'].count()
male_counter = purchase_data[purchase_data.Gender == 'Male'].shape[0]
male_percentage = round(male_counter / total_gender * 100, 2)
female_counter = purchase_data[purchase_data.Gender == 'Female'].shape[0]
female_percentage = round(female_counter / total_gender * 100, 2)
other_counter = purchase_data[purchase_data.Gender == 'Other / Non-Disclosed'].shape[0]
other_gender_percentage = round(other_counter / total_gender * 100, 2)
gender_demo_df = pd.DataFrame(
    {'Total Count': [male_counter, female_counter, other_counter],
    'Percentage of Players': [male_percentage, female_percentage, other_gender_percentage],
    '': ['Male', 'Female', 'Other / Non-Disclosed']
    }
)
gender_demo_df_final = gender_demo_df.set_index('')
gender_demo_df_final

                       Total Count  Percentage of Players

Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
grouped_gender = purchase_data.groupby('Gender')
count_gender = grouped_gender['Gender'].count()
average_price_gender = round(grouped_gender['Price'].mean(),2)
sum_price_gender = round(grouped_gender['Price'].sum(),2)
average_per_person = round(sum_price_gender / count_gender,2)
summary_gender_df_1 = pd.concat([count_gender, average_price_gender],axis=1)
summary_gender_df_final = summary_gender_df_1.rename(columns={'Gender':'Purchase Count','Price':'Average Purchase Price'})
new_summary = pd.concat([summary_gender_df_final, sum_price_gender, average_per_person],axis =1)
new_summary_final = new_summary.rename(columns={'Price':'Total Purchase Value', 0:'Average Total Purchase per Person'})
new_summary_final

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [106]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=group_names)
purchase_data['Age Group'].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Group, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [163]:
group_sn = purchase_data.groupby('SN')
sum_sn = group_sn['Price'].sum()
first_five = sum_sn.sort_values(ascending=False)
total_purchase_value = first_five[0:5]
purchase_count = [5, 4, 3, 4, 3]
average_pp = round(total_purchase_value / purchase_count,2)
top_spenders_summary = pd.concat([total_purchase_value, average_pp],axis = 1)
top_spenders_summary['Purchase Count'] = [5,4,3,4,3]
top_spenders_summary.rename(columns={'Price':'Average Purchase Price'})
col = list(top_spenders_summary.columns)
col[0] = 'Total Purchase Value'
col[1] = 'Average Purchase Price'
top_spenders_summary.columns = col
top_spenders_summary

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                    3.79               5
Idastidru52                 15.45                    3.86               4
Chamjask73                  13.83                    4.61               3
Iral74                      13.62                    3.40               4
Iskadarya95                 13.10                    4.37               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [294]:
group_ID = test_df.groupby('Item ID')
popular_count_df = group_ID.count()
popular_count_df_a = popular_count_df.sort_values(by = 'Item Name',ascending=False)
popular_count_df_a.drop('Price',axis=1)
popular_list = popular_count_df_a[0:5]
popular_list = popular_list.drop('Item Name',axis=1)
popular_list = popular_list.rename(columns={'Price':'Purchase Count'})
item_name = group_ID['Item Name'].value_counts()
item_df = item_name.sort_values(ascending=False)
item_df_final = pd.concat([item_df, popular_list])
item_d = item_df_final.drop('Purchase Count', axis=1)
item_d.columns = ['Purchase Count']
final_item_count = item_d.head(5)
item_price = [4.23, 4.58, 3.53, 4.9, 1.02]
final_item_count['Item Price'] = item_price
purchase_value = final_item_count['Item Price']*final_item_count['Purchase Count']
final_item_count['Total Purchase Value'] = purchase_value 
final_item_count

/Users/bjlim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/bjlim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Item Price,Total Purchase Value
"(178, Oathbreaker, Last Hope of the Breaking Storm)",12.0,4.23,50.76
"(82, Nirvana)",9.0,4.58,41.22
"(108, Extraction, Quickblade Of Trembling Hands)",9.0,3.53,31.77
"(145, Fiery Glass Crusader)",9.0,4.90,44.10
"(92, Final Critic)",8.0,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [350]:
sum_of_purchase = group_ID['Price'].sum()
first_five_sum = sum_of_purchase.sort_values(ascending=False)
hello_df = first_five_sum.head()
# hello = final_item_count
# hello['Total Purchase Value By Profit'] = hello_df

Item ID
178    50.76
82     44.10
145    41.22
92     39.04
103    34.80
Name: Price, dtype: float64

In [349]:
hello

,Purchase Count,Item Price,Total Purchase Value,Total Purchase Value By Profit
"(178, Oathbreaker, Last Hope of the Breaking Storm)",12.0,4.23,50.76,NaN
"(82, Nirvana)",9.0,4.58,41.22,NaN
"(108, Extraction, Quickblade Of Trembling Hands)",9.0,3.53,31.77,NaN
"(145, Fiery Glass Crusader)",9.0,4.90,44.10,NaN
"(92, Final Critic)",8.0,1.02,8.16,NaN